{%  load static %}

<! DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{ % block title % } Restaurant {% endblock %} </title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <header class="site-header">
        <div class="logo-title">
        <nav>
            <ul>
                <li> <a href="{% url 'home' % }"> Home </a></li>
                <li><a href="{% url 'menu_list' %}"> Menu</a></li>
                <li><a href="{% url 'reservations' %}"> Reservations </a></li>
                <li><a href="{"% url 'contact' % }"> Contact </li>
            </ul>
        </nav>
        <h1> foodie's Paradise </h1>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; {{  year }}  Restaurant Management. All rights reserved.</p>
        <p>&copy; {{now.year }}  foodie's Paradise</p>
        <p> Opening Hours: Mon-Fri: 11am-9pm, Sat-Sun: 10am-10pm</p>
        
    </footer>
</body>
</html>