{ % load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title> Contact </title>
    <link rel="stylesheet" href="{ % static 'home/style.css' %}">
</head>
<body>
    <header>
        <h1> Contact Us </h1>
    </header>
    <main style = "padding: 20px;">
        <h2> We'd love to hear from you! </h2>
        <p> If you have any questions, feedback, or suggestions, feel free to reach us: </p>


        <ul> 
               <li><strong>Email:</strong>  support@restaurent.com </li>
               <li><strong>Phone:</strong>  +91 933564321 </li>
               <li><strong>address:</strong> 123 Food Street, Banglore, India</li>
        </ul>
        <button onclick="Window.location.href='mailto:support@restaurant.com' "> Send Email </button>
    </main>


    <footer>
        &copy;  2025 Restaurant Management. All Rights Reserved.
    </footer>
</body>
</html>
