{ % extends "base.html"  %} 
{ % load static %}


{% block content % }
<div class ="homepage">
    <div class = "logo-container">
        <img src="{% static 'images/logo.png' %}"  alt="Restaurant Logo" class="logo">
    </div>


    <h1>Welcome to Our Restaurant! </h1>
    <h2> Welcome to foodie's Paradise </h2>
    <p> Find Your Favourite dishes easily! </p>

    <form  method="get" action="">
        <input type="test" name="q"  placeholder="Search menu items..."  class="Search-input">
        <button type="submit" class="search-btn"> Search  </button>
    </form>
    <p> Enjoy the finest food with the best service. </p>
</div>
{% endblock %}