{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> About Our Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body>
    <h1> About Our Restaurant </h1>
    <img src="{% static 'images/restaurant.jpg' %}" alt="Restaurant" style="width:80%;max-width:600p">
    <p>
        Welcome to <b> Spice & story</b> _ Whetre classic flavours meet modern plates.
        We source seasonal produce from local farms and craft every dish fresh to order.
    </p>
    <p> Open daily: 12 PM - 11 PM . Reservations recommended on weekends.</p>
</body>